.pixels-zone {
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 100%;
    overflow: auto;


    .row {
        display: flex;
    }
}

app-pixel{
    width: 2rem;
    height: 2rem;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}