.modal-bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0; left: 0;
    backdrop-filter: blur(2px);
}
.modal-container {
    position: fixed;
    width: fit-content;
    height: fit-content;
    inset: 0;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 10px black;
    padding: 1rem;

    .modal-footer, .modal-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}
