<!-- <p>main-page works!</p>
@for (item of items; track $index) {
    <div>
        Minha Div: {{item}}
    </div>

    @if (item % 2 == 0) {
        é par
    }
} -->


<h1>Login</h1>
<form action="get" [formGroup]="loginForm" (ngSubmit)="login()">
    <label for="">Username</label>
    <br>
    <input type="text" formControlName="username">
    <br>
    <label for="">Password</label>
    <br>
    <input type="password" formControlName="password">
    <br>
    <button type="submit">Login</button>
</form>