/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


button {
    padding:  .75rem 1rem;
    color: white;
    background-color: rgb(92, 92, 193);
    border-radius: 5px;
    cursor: pointer;

    &:disabled {
        background-color: rgb(128, 128, 140);
        cursor: not-allowed;
    }
}